$font-base: 'Times New Roman', Times, serif;
$font-alt: Arial, Helvetica, sans-serif;

$color-bg-light: #ffebdd;
$color-bg-dark: #121212;

$color-text-light: #000;
$color-text-dark: #fff;
$color-bg-form: #fff;    
$color-accent: #a75151;
$color-accent-hover: #7a3a3a;
$color-strong: #8B0000;
$color-border: #9e0d0d;
$color-text: #000;
$color-muted: #ffe6e6;            
$color-menu-bg: #b96c6c;         
$color-menu-title-bg: #b96c6c;   
$color-card-overlay: rgba(0,0,0,0.3);
$color-bg: #ffebdd;
$hero-height: 450px;
$hero-brightness: 0.9;
$hero2-brightness: 0.65;
$hero-overlay-opacity: 0.3;
$btn-color: #b22222; 
$btn-color-hover:#ff6666;
$btn-radius-small: 6px;
$btn-radius-medium: 24px;
$btn-radius-large: 25px;
$card-radius: 10px;

$form-shadow: 0 4px 10px rgba(0,0,0,0.05);
$form-shadow-pedido: 0 4px 15px rgba(0,0,0,0.1);

$fondo-nav: #222;
$border-buttom: #444;

